.App {
  text-align: center;
}

.Header {
  border: 1px solid red;
  font-size: 50px;
  color: red;
  font-weight: bold;
}

.Nav {
  border: 1px solid blue;
  padding: 10px;
  font: arial;
}

.article-list {
  list-style-type: none;
  text-align: left;
  padding: 5px;
}

.articles {
  border: 0.5px solid gray;
}
