.App {
  text-align: center;
}

.Header {
  border: 1px solid red;
  font-size: 50px;
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.Nav {
  border: 1px solid blue;
  padding: 10px;
  font: arial;
}

.nav-elements {
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.article-list {
  list-style-type: none;
  text-align: left;
  padding: 5px;
}

.articles {
  border: 0.5px solid gray;
}

.comments {
  list-style-type: none;
  text-align: left;
  border: 1px solid blue;
  padding: 1px;
}

.comment-heading {
  text-align: left;
  padding-left: 20px;
  border: 1px solid red;
}
